<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav-admin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">CABAL SHOP - 관리자 페이지</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/main/banners}">배너세팅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/main/items}">메인아이템세팅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/items}">아이템세팅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/categories}">카테고리세팅</a>
                    </li>
                    <!--                <li class="nav-item">-->
                    <!--                    <span th:text="${session.loginUser.getName()}"></span>-->
                    <!--                </li>-->
                    <!--                <li class="nav-item">-->
                    <!--                    <span th:text="${session.loginUser.getName()}"></span>-->
                    <!--                </li>-->
                </ul>
                <form class="d-flex" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-dark">로그아웃</button>
                </form>
            </div>
        </div>
    </nav>

</div>

</html>