<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-sidebar">
    <div class="side_menu">
      <ul>
        <li><a href="#">전체</a></li>
        <li>
          <a href="#">프리미엄</a>
          <ul>
            <li>
              <a href="#">특별판매</a>
            </li>
            <li>
              <a href="#">카발 상품권</a>
            </li>
            <li>
              <a href="#">플래티넘 아이템</a>
            </li>
            <li>
              <a href="#">실버 아이템</a>
            </li>
            <li>
              <a href="#">WExp 패키지</a>
            </li>
            <li>
              <a href="#">AXP 패키지</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">기능성</a>
          <ul>
            <li>
              <a href="#">탈것</a>
            </li>
            <li>
              <a href="#">에펄릿</a>
            </li>
            <li>
              <a href="#">스페셜 에펄릿</a>
            </li>
            <li>
              <a href="#">게임도우미</a>
            </li>
            <li>
              <a href="#">용병</a>
            </li>
            <li>
              <a href="#">참/탈리스만/아르카나</a>
            </li>
            <li>
              <a href="#">이펙터</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">팬시</a>
          <ul>
            <li>
              <a href="#">외모 변경 아이템</a>
            </li>
            <li>
              <a href="#">국가복장</a>
            </li>
            <li>
              <a href="#">방어구 코스튬</a>
            </li>
            <li>
              <a href="#">페이스 코스튬</a>
            </li>
            <li>
              <a href="#">무기 코스튬</a>
            </li>
            <li>
              <a href="#">탈 것 코스튬</a>
            </li>
            <li>
              <a href="#">포스윙 코스튬</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">소모성</a>
          <ul>
            <li>
              <a href="#">강화 아이템</a>
            </li>
            <li>
              <a href="#">포션 아이템</a>
            </li>
            <li>
              <a href="#">제조 아이템</a>
            </li>
            <li>
              <a href="#">성수 아이템</a>
            </li>
            <li>
              <a href="#">봉인석/해제석</a>
            </li>
            <li>
              <a href="#">코스튬 아이템</a>
            </li>
            <li>
              <a href="#">포스젬</a>
            </li>
            <li>
              <a href="#">퀘스트 아이템</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">이동/변경</a>
          <ul>
            <li>
              <a href="#">이동/변경 아이템</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">펫</a>
          <ul>
            <li>
              <a href="#">플래티넘 펫</a>
            </li>
            <li>
              <a href="#">실버 펫</a>
            </li>
            <li>
              <a href="#">몬스터 펫</a>
            </li>
            <li>
              <a href="#">펫 봉인 아이템</a>
            </li>
            <li>
              <a href="#">펫 전용 아이템</a>
            </li>
            <li>
              <a href="#">펫 체인지 키트</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">블레싱 비드</a>
          <ul>
            <li>
              <a href="#">플러스</a>
            </li>
            <li>
              <a href="#">경험치</a>
            </li>
            <li>
              <a href="#">스킬 경험치</a>
            </li>
            <li>
              <a href="#">펫 경험치</a>
            </li>
            <li>
              <a href="#">창고 증가</a>
            </li>
            <li>
              <a href="#">프리미엄</a>
            </li>
            <li>
              <a href="#">코스튬 창고 증가</a>
            </li>
            <li>
              <a href="#">AXP, WEXP</a>
            </li>
            <li>
              <a href="#">포스 윙 경험치</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">랜덤</a>
          <ul>
            <li>
              <a href="#">강화아이템</a>
            </li>
            <li>
              <a href="#">슬롯 익스텐더</a>
            </li>
            <li>
              <a href="#">아바타</a>
            </li>
            <li>
              <a href="#">에펄릿</a>
            </li>
          </ul>
        </li>
      </ul>

  </div>
</div>

</html>