<div class="row" th:fragment="itemList-user" xmlns:th="http://www.thymeleaf.org">


    <div th:if="${categoryId == null}" class="row row-cols-1 row-cols-md-4 g-4 mb-3" style="margin-top: 0px;">
        <div th:each="item, stat : ${userItemList}">
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: 6rem; justify-content: center; align-content: center;">
<!--                        <img src="http://file.estgames.co.kr/generic/portal_user_admin/20220512/6446dfd142ad" style="width:80%; height: 80%;">-->
                        <img th:if="${item.itemImgDto == null}" th:src="@{/img/defaultItemImg.png}" style="width:80%; height: 80%;">
                        <img th:unless="${item.itemImgDto == null}" th:src="${item.itemImgDto.saveFolderPath}" style="width:80%; height: 80%;">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">
                            <a th:href="@{/api/items/{itemId}(itemId=${item.itemId})}">
                                <span class="card-title-full" th:text="${item.getItemName()}"></span>
                                <span class="card-title-truncated"></span>

                            </a>

                        </h6>
                        <p class="card-text" th:text="${item.getItemPrice()} + ' 원'">item price</p>
                    </div>
                    <div class="card-footer">
                        <div class="row g-0">
                            <div class="col">
                                <form th:action="@{/api/star/items/{itemId}(itemId=${item.itemId})}" th:method="delete">
                                    <input type="hidden" name="redirectURL"
                                           th:value="'/users/item?page=' + ${userItemList.number + 1}"/>
                                    <button th:if="${item.isStar()}" type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('즐겨찾기에서 삭제되었습니다.')"><img th:src="@{/img/heart.png}"
                                                                                        width="15px" height="15px"
                                                                                        alt=""></button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{/api/star/items/{itemId}(itemId=${item.itemId})}" th:method="post">
                                    <input type="hidden" name="redirectURL"
                                           th:value="'/users/item?page=' + ${userItemList.number + 1}"/>
                                    <button th:if="${!item.isStar()}" type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('즐겨찾기에 추가되었습니다.')"><img th:src="@{/img/empty-heart.png}"
                                                                                       width="20px" height="20px"
                                                                                       alt=""></button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{/api/cart/items/{itemId}(itemId=${item.itemId})}" th:method="post">
                                    <input type="hidden" name="redirectURL"
                                           th:value="'/users/item?page=' + ${userItemList.number + 1}"/>
                                    <button type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('장바구니에 추가되었습니다.')"><img th:src="@{/img/cart.png}"
                                                                                       width="20px" height="20px"
                                                                                       alt=""></button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{/api/order/items/{itemId}(itemId=${item.itemId})}" th:method="post">
                                    <button type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('구매 주문을 위해 장바구니로 이동합니다.')"><img th:src="@{/img/pay.png}"
                                                                                               width="20px"
                                                                                               height="20px" alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div th:if="${categoryId != null}" class="row row-cols-1 row-cols-md-4 g-4 mb-3" style="margin-top: 0px;">
        <div th:each="item, stat : ${userItemList}">
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: 6rem; justify-content: center; align-content: center;">
<!--                        <img src="http://file.estgames.co.kr/generic/portal_user_admin/20220512/6446dfd142ad" style="width:80%; height: 80%;">-->
                        <img th:if="${item.itemImgDto == null}" th:src="@{/img/defaultItemImg.png}" style="width:80%; height: 80%;">
                        <img th:unless="${item.itemImgDto == null}" th:src="${item.itemImgDto.saveFolderPath}" style="width:80%; height: 80%;">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">
                            <a th:href="@{/api/items/{itemId}(itemId=${item.itemId})}">
                                <span class="card-title-full" th:text="${item.getItemName()}"></span>
                                <span class="card-title-truncated"></span>

                            </a>

                        </h6>
                        <p class="card-text" th:text="${item.getItemPrice()} + ' 원'">item price</p>
                    </div>
                    <div class="card-footer">
                        <div class="row g-0">
                            <div class="col">
                                <form th:action="@{/api/star/items/{itemId}(itemId=${item.itemId})}" th:method="delete">
                                    <input type="hidden" name="redirectURL"
                                           th:value="'/api/items/categories/' + ${categoryId} +'/user?page=' + ${userItemList.number + 1}"/>
                                    <button th:if="${item.isStar()}" type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('즐겨찾기에서 삭제되었습니다.')"><img th:src="@{/img/heart.png}"
                                                                                        width="15px" height="15px"
                                                                                        alt=""></button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{/api/star/items/{itemId}(itemId=${item.itemId})}" th:method="post">
                                    <input type="hidden" name="redirectURL"
                                           th:value="'/api/items/categories/' + ${categoryId} +'/user?page=' + ${userItemList.number + 1}"/>
                                    <button th:if="${!item.isStar()}" type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('즐겨찾기에 추가되었습니다.')"><img th:src="@{/img/empty-heart.png}"
                                                                                       width="20px" height="20px"
                                                                                       alt=""></button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{/api/cart/items/{itemId}(itemId=${item.itemId})}" th:method="post">
                                    <input type="hidden" name="redirectURL"
                                           th:value="'/api/items/categories/' + ${categoryId} +'/user?page=' + ${userItemList.number + 1}"/>
                                    <button type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('장바구니에 추가되었습니다.')"><img th:src="@{/img/cart.png}"
                                                                                       width="20px" height="20px"
                                                                                       alt=""></button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{/api/order/items/{itemId}(itemId=${item.itemId})}" th:method="post">
                                    <button type="submit" class="btn btn-link btn-sm"
                                            onclick="showAlert('구매 주문을 위해 장바구니로 이동합니다.')"><img th:src="@{/img/pay.png}"
                                                                                               width="20px"
                                                                                               height="20px" alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:if="${categoryId == null and keyword == null}" class="pagination justify-content-center">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${startPage > 1} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/users/item(page=${startPage - 1})}">&laquo;</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/users/item(page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:classappend="${pageNumber == userItemList.number + 1} ? 'active' : ''"></a>
            </li>
            <li class="page-item" th:classappend="${endPage < userItemList.totalPages} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/users/item(page=${endPage + 1})}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div th:if="${categoryId != null and keyword == null}" class="pagination justify-content-center">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${startPage > 1} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/api/items/categories/{categoryId}/user(categoryId=${categoryId}, page=${startPage - 1})}">&laquo;</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link"
                   th:href="@{/api/items/categories/{categoryId}/user(categoryId=${categoryId},page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:classappend="${pageNumber == userItemList.number + 1} ? 'active' : ''"></a>
            </li>
            <li class="page-item" th:classappend="${endPage < userItemList.totalPages} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/api/items/categories/{categoryId}/user(categoryId=${categoryId},page=${endPage + 1})}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div th:if="${keyword != null}" class="pagination justify-content-center">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${startPage > 1} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/api/items/search/user(keyword=${keyword}, page=${startPage - 1})}">&laquo;</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/api/items/search/user(keyword=${keyword},page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:classappend="${pageNumber == userItemList.number + 1} ? 'active' : ''"></a>
            </li>
            <li class="page-item" th:classappend="${endPage < userItemList.totalPages} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/api/items/search/user(keyword=${keyword},page=${endPage + 1})}">&raquo;</a>
            </li>
        </ul>
    </div>


</div>