<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="template/fragment/header.html :: fragment-header"></div>
</head>
<body>
<!-- Navigation -->
<div th:replace="template/fragment/nav-admin.html :: fragment-nav-admin"></div>
<br/>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row">
            <div class="mb-3">
                <h5>아이템 수정 폼</h5>
            </div>
            <!--    수정할 아이템의 객체     -->
            <!--                <div th:object="itemModifyRequestDto">-->

            <!--                </div>-->
            <form th:action="@{/api/items/{itemId}(itemId=${itemResponseDto.getItemId()})}" th:method="put"
                  th:object="${itemModifyRequestDto}" enctype="multipart/form-data">
                <div>
                    <div class="row">
                        <div class="col-6" th:with="categoryList=${categoryList}">
                            <select id="categoryParentSelect" class="form-select mb-3"
                                    aria-label="Default select example" onchange="updateCategoryChildSelect()">
                                <option selected disabled th:text="${itemResponseDto.getFirstCategoryName()}"></option>
                                <option th:each="category : ${categoryList}" th:value="${category.categoryParentId}"
                                        th:text="${category.categoryParentName}"></option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select id="categoryChildSelect" th:field="*{categoryChildName}" th:id="categoryChildSelect"
                                    class="form-select mb-3" aria-label="Default select example"
                                    onchange="updateCategoryChildName(this)">
                                <option selected th:value="${itemResponseDto.getSecondCategoryName()}"
                                        th:text="${itemResponseDto.getSecondCategoryName()}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="itemName" th:field="*{itemName}" th:id="itemName"
                               th:placeholder="${itemResponseDto.itemName}" aria-label="itemName"
                               aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">\</span>
                        <input type="text" class="form-control" id="itemPrice" th:field="*{itemPrice}" th:id="itemPrice"
                               th:placeholder="${itemResponseDto.itemPrice}" aria-label="itemPrice"
                               aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">아이템 설명</span>
                        <textarea class="form-control" style="height: 200px" id="itemDescription"
                                  th:field="*{itemDescription}" th:id="itemDescription" aria-label="With textarea"
                                  th:placeholder="${itemResponseDto.itemDescription}"
                                  th:value="${itemResponseDto.itemDescription}"></textarea>
                    </div>

                    <div class="item-img rounded">
                        <!--                        <img th:if="${itemResponseDto.itemImgDto != null}" th:src="${}">-->
                        <img th:if="${itemResponseDto.itemImgDto != null}"
                             th:src="${itemResponseDto.itemImgDto.saveFolderPath}"
                             class="rounded img-fluid" th:alt="${itemResponseDto.itemName}">
                        <p th:unless="${itemResponseDto.itemImgDto != null}">
                            기존에 업로드한 아이템의 이미지가 존재하지 않습니다.
                        </p>

                    </div>
                    <!--                    <div class="input-group mb-3">-->
                    <!--                        <span class="input-group-text">아이템 설명</span>-->
                    <!--                        <textarea class="form-control" style="height: 200px" id="itemDescription"-->
                    <!--                                  th:field="*{itemDescription}" th:id="itemDescription" aria-label="With textarea">-->
                    <!--                            ${itemResponseDto.itemDescription}</textarea>-->
                    <!--                    </div>-->

                    <div class="input-group mb-3">
                        <!--            <input type="file" class="custom-file-input" id="itemImgFile">-->
                        <input type="file" class="custom-file-input" id="itemImgFile" name="itemImgFile">
                        <!--            <label class="custom-file-label" th:text="상품이미지"></label>-->
                        <label class="custom-file-label" for="itemImgFile"></label>
                    </div>

                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-2" style="justify-content: right">

                            <button type="submit" class="btn btn-primary">수정</button>
                            <a class="btn btn-primary" th:href="@{/admin/items}">취소</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <div class="col-3"></div>

</div>


<script th:inline="javascript">

    var categoryData = /*[[${categoryList}]]*/ [];
    // console.log(categoryData);

    // 중분류 셀렉트 박스 업데이트
    function updateCategoryChildSelect() {
        var categoryParentId = document.getElementById("categoryParentSelect").value;
        var categoryChildSelect = document.getElementById("categoryChildSelect");

        // 중분류 셀렉트 박스 초기화
        categoryChildSelect.innerHTML = '<option selected disabled>중분류 선택</option>';

        // 대분류에 해당하는 중분류 옵션들 추가
        for (var i = 0; i < categoryData.length; i++) {
            // console.log(categoryData[i])
            if (categoryData[i].categoryParentId == categoryParentId) {
                var categoryChildList = categoryData[i].categoryChildDtoList;
                for (var j = 0; j < categoryChildList.length; j++) {
                    var option = document.createElement("option");
                    option.value = categoryChildList[j].categoryChildId;
                    option.textContent = categoryChildList[j].categoryChildName;
                    categoryChildSelect.appendChild(option);
                }
                break;
            }
        }

        updateCategoryChildName(categoryChildSelect);
    }

    function updateCategoryChildName(selectElement) {
        var selectedCategoryChildName = selectElement.options[selectElement.selectedIndex].text;

        console.log(selectedCategoryChildName)

        var itemModifyRequestDto = /*[[${itemModifyRequestDto}]]*/ {};
        itemModifyRequestDto.categoryChildName = selectedCategoryChildName;

        // console.log(itemModifyRequestDto);
    }

    function updateItemModifyRequestDto() {
        var form = document.getElementById("modifyForm");
        var formData = new FormData(form);

        var itemModifyRequestDto = /*[[${itemModifyRequestDto}]]*/ {};
        for (var pair of formData.entries()) {
            itemModifyRequestDto[pair[0]] = pair[1];
        }

        console.log(itemModifyRequestDto);
        // 여기서 컨트롤러로 itemModifyRequestDto 객체를 전달해야 합니다.
    }


    //item price에 콤마 자동 찍히기
    const input = document.querySelector('#itemPrice');
    input.addEventListener('keyup', function (e) {
        let value = e.target.value;
        value = Number(value.replaceAll(',', ''));
        if (isNaN(value)) {
            input.value = 0;
        } else {
            const formatValue = value.toLocaleString('ko-KR');
            input.value = formatValue;
        }
    })

    //file upload

    $(document).ready(function () {
        var errorMessage = [[${errorMessage}]];
        if (errorMessage != null) {
            alert(errorMessage);
        }

        bindDomEvent();

    });

    function bindDomEvent() {

        console.log("bindDomEvent 호출 완료.")

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();  //이미지 파일명
            var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1); // 확장자 추출
            fileExt = fileExt.toLowerCase(); //소문자 변환

            if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                alert("이미지 파일만 등록이 가능합니다.");
                return;
            }

            $(this).siblings(".custom-file-label").html(fileName);
        });
    }


</script>

</body>
</html>