<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- jQeury ui CSS -->
    <link th:href="@{/js/jquery-ui-1.13.2.custom/jquery-ui.css}" rel="stylesheet" />

    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap JS -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- jQuery ui -->
    <script th:src="@{/js/jquery-ui-1.13.2.custom/jquery-ui.js}"></script>


</head>

</html>