<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-sidebar-test">

    <div class="side_menu" style="overflow-y: scroll; height: 200px;">
        <ul>
            <li><a th:href="@{/admin/items}">전체</a></li>
            <li th:each="category : ${categoryList}">
                <a href="#" th:text="${category.categoryParentName}"
                   th:attr="data-categoryId=${category.categoryParentId}"
                   th:onclick="'loadItems(' + ${category.categoryParentId} + ')'"></a>
                <ul>
                    <li th:each="childCategory : ${category.categoryChildDtoList}">
                        <a href="#" th:text="${childCategory.categoryChildName}"
                           th:attr="data-categoryId=${childCategory.categoryChildId}"
                           th:onclick="'loadItems(' + ${childCategory.categoryChildId} + ')'"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div th:fragment="fragment-sidebar-admin-remove">

    <div class="side_menu" style="overflow-y: scroll; height: 200px;">
        <ul>
            <li th:each="category : ${categoryList}">
                <a href="#" th:text="${category.categoryParentName}"
                   th:attr="data-categoryId=${category.categoryParentId}"
                   th:onclick="'loadItems(' + ${category.categoryParentId} + ')'"></a>
                <ul>
                    <li th:each="childCategory : ${category.categoryChildDtoList}">
                        <a href="#" th:text="${childCategory.categoryChildName}"
                           th:attr="data-categoryId=${childCategory.categoryChildId}"
                           th:onclick="'loadItems(' + ${childCategory.categoryChildId} + ')'"></a>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/api/items/removed/nocategory}">카테고리 없는 아이템(기존의 카테고리가 삭제된 경우)</a></li>
        </ul>
    </div>
</div>

</html>